openapi: 3.0.3
info:
  title: DermaScope.ai — Early Access API
  description: >
    The public-facing API behind the DermaScope.ai Early Access form, plus a
    small OAuth-protected admin API for reading submitted requests. There is
    no broader public API surface today.
  version: "1.1.0"
  contact:
    url: https://dermascope.ai
servers:
  - url: https://dermascope.ai
paths:
  /api/contact:
    post:
      operationId: submitEarlyAccessRequest
      summary: Submit an Early Access request
      description: >
        Validates and records an Early Access submission. On success this
        sends an internal notification email, a confirmation email to the
        applicant, and (best-effort, non-blocking) appends the submission to
        a Google Sheet.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarlyAccessRequest'
      responses:
        '200':
          description: Submission accepted and emailed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  message: { type: string, example: "Email sent successfully." }
        '400':
          description: Validation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: false }
                  errors:
                    type: array
                    items: { type: string }
        '500':
          description: Email delivery failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: false }
                  error: { type: string }
  /health:
    get:
      operationId: getHealth
      summary: Health check
      responses:
        '200':
          description: Service is up.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: "ok" }
  /oauth/token:
    post:
      operationId: getAdminAccessToken
      summary: Obtain an admin access token (client_credentials grant)
      description: >
        RFC 6749 client_credentials grant. Client credentials may be sent via
        HTTP Basic auth or in the request body (client_secret_post). See
        /.well-known/oauth-authorization-server for full discovery metadata.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [grant_type]
              properties:
                grant_type:    { type: string, enum: [client_credentials] }
                client_id:     { type: string }
                client_secret: { type: string }
      responses:
        '200':
          description: Access token issued.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token: { type: string }
                  token_type:   { type: string, example: "Bearer" }
                  expires_in:   { type: integer, example: 3600 }
                  scope:        { type: string, example: "admin:submissions:read" }
        '400':
          description: Unsupported or missing grant_type.
        '401':
          description: Invalid client credentials.
  /api/admin/submissions:
    get:
      operationId: listEarlyAccessSubmissions
      summary: List Early Access submissions
      security:
        - adminBearerAuth: []
      responses:
        '200':
          description: Submissions, newest first.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count: { type: integer }
                  submissions:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/EarlyAccessRequest'
                        - type: object
                          properties:
                            timestamp: { type: string, format: date-time }
        '401':
          description: Missing or invalid bearer token.
        '403':
          description: Token lacks the admin:submissions:read scope.
components:
  securitySchemes:
    adminBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        RS256 JWT issued by POST /oauth/token. Must carry the
        admin:submissions:read scope. Verify against
        /.well-known/jwks.json.
  schemas:
    EarlyAccessRequest:
      type: object
      required:
        - name
        - email
        - title
        - specialty
        - organization
        - country
        - city
        - phone
        - interest
        - consent
      properties:
        name:        { type: string, minLength: 2, description: "Full name" }
        title:       { type: string, description: "Professional title" }
        specialty:   { type: string, description: "Clinical specialty" }
        organization: { type: string, description: "Clinic / hospital / organization" }
        country:     { type: string }
        city:        { type: string }
        email:       { type: string, format: email }
        phone:       { type: string, description: "Mobile / WhatsApp number" }
        interest:    { type: string, description: "Type of interest" }
        physicians:  { type: string, description: "Physicians in organization (optional)" }
        emr:         { type: string, description: "Current EMR / HIS (optional)" }
        challenges:
          type: array
          items: { type: string }
          description: "Main challenges to solve (optional, multi-select)"
        consent:
          type: boolean
          description: "Consent to be contacted — must be true"
