openapi: 3.0.3
info:
  title: DermaScope.ai — Early Access API
  description: >
    The public-facing API behind the DermaScope.ai Early Access form, plus a
    small OAuth-protected admin API for reading submitted requests. There is
    no broader public API surface today. See /auth.md for the agent-facing
    authentication walkthrough.
  version: "1.3.0"
  contact:
    url: https://dermascope.ai
servers:
  - url: https://dermascope.ai
paths:
  /api/contact:
    post:
      operationId: submitEarlyAccessRequest
      summary: Submit an Early Access request
      description: >
        Validates and records an Early Access submission. On success this
        sends an internal notification email, a confirmation email to the
        applicant, and (best-effort, non-blocking) appends the submission to
        a Google Sheet.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarlyAccessRequest'
      responses:
        '200':
          description: Submission accepted and emailed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  message: { type: string, example: "Email sent successfully." }
        '400':
          description: Validation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: false }
                  errors:
                    type: array
                    items: { type: string }
        '500':
          description: Email delivery failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: false }
                  error: { type: string }
  /health:
    get:
      operationId: getHealth
      summary: Health check
      responses:
        '200':
          description: Service is up.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: "ok" }
  /oauth/token:
    post:
      operationId: getAccessToken
      summary: Obtain an access token (three grant types)
      description: >
        Dispatches on `grant_type`: `client_credentials` (RFC 6749 §4.4, the
        static operator client), `urn:workos:agent-auth:grant-type:claim`
        (poll the claim ceremony started at POST /agent/identity), or
        `urn:ietf:params:oauth:grant-type:jwt-bearer` (RFC 7523, re-exchange
        a claimed identity_assertion for a fresh access token). See /auth.md.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [grant_type]
              properties:
                grant_type:
                  type: string
                  enum: [client_credentials, 'urn:workos:agent-auth:grant-type:claim', 'urn:ietf:params:oauth:grant-type:jwt-bearer']
                client_id:     { type: string, description: "client_credentials only" }
                client_secret: { type: string, description: "client_credentials only" }
                claim_token:   { type: string, description: "claim grant only — from POST /agent/identity" }
                assertion:     { type: string, description: "jwt-bearer grant only — the identity_assertion from a completed claim" }
      responses:
        '200':
          description: Access token issued.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:       { type: string }
                  token_type:         { type: string, example: "Bearer" }
                  expires_in:         { type: integer, example: 3600 }
                  scope:              { type: string, example: "admin:submissions:read" }
                  identity_assertion: { type: string, description: "Claim grant only — a 30-day, service-signed JWT. Cache and re-exchange via jwt-bearer." }
                  assertion_expires:  { type: string, format: date-time, description: "Claim grant only" }
        '400':
          description: unsupported_grant_type, invalid_grant, authorization_pending, expired_token, or slow_down.
        '401':
          description: invalid_client (client_credentials only).
  /agent/identity:
    post:
      operationId: registerAgentIdentity
      summary: Register a service_auth or anonymous identity (auth.md "Register" step)
      description: >
        Open — no auth on the call itself. service_auth's claim block
        (with claim.verification_uri) comes back immediately; anonymous
        gets an immediate identity_assertion instead, scoped to nothing
        (pre_claim_scopes is always []) until claimed. See /auth.md.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type]
              properties:
                type:       { type: string, enum: [service_auth, anonymous] }
                login_hint: { type: string, format: email, description: "Required for service_auth only — email of the human who will confirm the claim." }
      responses:
        '200':
          description: Registration created. Shape depends on `type`.
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    title: service_auth response
                    properties:
                      registration_id:      { type: string }
                      registration_type:    { type: string, example: "service_auth" }
                      claim_url:            { type: string, format: uri }
                      claim_token:          { type: string, description: "Secret — the agent's own credential for polling /oauth/token. Never shown to the human." }
                      claim_token_expires:  { type: string, format: date-time }
                      post_claim_scopes:    { type: array, items: { type: string } }
                      claim:
                        type: object
                        properties:
                          user_code:        { type: string, example: "449073" }
                          expires_in:       { type: integer, example: 600 }
                          verification_uri: { type: string, format: uri }
                          interval:         { type: integer, example: 5 }
                  - type: object
                    title: anonymous response
                    properties:
                      registration_id:     { type: string }
                      registration_type:   { type: string, example: "anonymous" }
                      identity_assertion:  { type: string, description: "Usable immediately via the jwt-bearer grant, but scope is always empty." }
                      assertion_expires:   { type: string, format: date-time }
                      pre_claim_scopes:    { type: array, items: { type: string }, description: "Always []." }
                      claim_url:           { type: string, format: uri }
                      claim_token:         { type: string }
                      claim_token_expires: { type: string, format: date-time }
                      post_claim_scopes:   { type: array, items: { type: string } }
        '400':
          description: invalid_request — bad type, or missing login_hint for service_auth.
  /agent/identity/claim:
    post:
      operationId: startOrRemintClaim
      summary: Start (anonymous) or re-mint (service_auth) a claim ceremony
      description: >
        Agent-facing. For service_auth, call with the same claim_token to
        mint a fresh user_code if the current one expired (24h outer
        window still open). For anonymous, call with claim_token AND email
        to start the ceremony for the first time — anonymous registration
        collects no email upfront.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [claim_token]
              properties:
                claim_token: { type: string }
                email:       { type: string, format: email, description: "Required the first time for an anonymous registration; optional (ignored) for service_auth re-mints." }
      responses:
        '200':
          description: Fresh claim_attempt issued.
        '400':
          description: invalid_request — anonymous registration with no login_hint yet and no valid email supplied.
        '401':
          description: invalid_claim_token.
        '409':
          description: claimed_or_in_flight.
        '410':
          description: claim_expired — the 24h outer window closed.
  /oauth/revoke:
    post:
      operationId: revokeAccessToken
      summary: Revoke an access token (RFC 7009)
      description: >
        Proof of ownership depends on the token's subject: the static admin
        client re-presents client_id/client_secret; a claimed service_auth
        registration re-presents a still-valid identity_assertion for the
        same registration. Always responds 200 (RFC 7009 §2.2).
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [token]
              properties:
                token:         { type: string }
                client_id:     { type: string, description: "client_credentials tokens only" }
                client_secret: { type: string, description: "client_credentials tokens only" }
                assertion:     { type: string, description: "service_auth tokens only — the identity_assertion proving ownership" }
      responses:
        '200':
          description: Always returned.
  /api/admin/submissions:
    get:
      operationId: listEarlyAccessSubmissions
      summary: List Early Access submissions
      security:
        - adminBearerAuth: []
      responses:
        '200':
          description: Submissions, newest first.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count: { type: integer }
                  submissions:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/EarlyAccessRequest'
                        - type: object
                          properties:
                            timestamp: { type: string, format: date-time }
        '401':
          description: Missing or invalid bearer token.
        '403':
          description: Token lacks the admin:submissions:read scope.
components:
  securitySchemes:
    adminBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        RS256 JWT issued by POST /oauth/token (any of its three grant
        types). Must carry the admin:submissions:read scope. Verify against
        /.well-known/jwks.json.
  schemas:
    EarlyAccessRequest:
      type: object
      required:
        - name
        - email
        - title
        - specialty
        - organization
        - country
        - city
        - phone
        - interest
        - consent
      properties:
        name:        { type: string, minLength: 2, description: "Full name" }
        title:       { type: string, description: "Professional title" }
        specialty:   { type: string, description: "Clinical specialty" }
        organization: { type: string, description: "Clinic / hospital / organization" }
        country:     { type: string }
        city:        { type: string }
        email:       { type: string, format: email }
        phone:       { type: string, description: "Mobile / WhatsApp number" }
        interest:    { type: string, description: "Type of interest" }
        physicians:  { type: string, description: "Physicians in organization (optional)" }
        emr:         { type: string, description: "Current EMR / HIS (optional)" }
        challenges:
          type: array
          items: { type: string }
          description: "Main challenges to solve (optional, multi-select)"
        consent:
          type: boolean
          description: "Consent to be contacted — must be true"
